table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8df8c;
}

th,
td {
  border: 1.5px solid black;
  padding: 8px;
  text-align: left;
  font-size: 12px;
}

.desc {
  max-width: 200px;
}

th {
  background-color: #f8df8c;
}

.table-container {
  width: 90%;
  overflow: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}

.table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0px;
}
.heading {
  font-size: 16px;
}

.add-btn {
  padding: 3px;
}

.spinner {
  margin-top: 40px;
}

.no-trans-head {
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  td {
    font-size: 16px;
  }
  th {
    font-size: 16px;
  }
}
